body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #161D30; /* Neue Hintergrundfarbe */
    color: #333;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

.highlight {
    color: #FAB17C;
}

main {
    padding: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

h3 {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

p, ul {
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.image-chart-pair {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px;
    margin-left: 25px;
}

.image-chart-pair img {
    width: auto;
    height: 250px;
    border-radius: 4px;
}

.image-chart-pair div {
    width: 100%; /* Passt sich an die Breite des Containers an */
    max-width: 720px; /* Maximale Breite des Diagramms */
    height: 250px; /* Höhe wird automatisch angepasst */
}

.correct-classifications {
    background: #2E3150;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 70px 100px;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 16px;
    background-color: #686E9E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25px;
}

button:hover {
    background-color: #4F5479;
}

#user-image-preview {
    display: flex;
    align-items: center;
    height: 250px;
    width: auto;
}

#user-image-preview img {
    height: 250px;
    width: auto;
    border-radius: 4px;
}


#drag-and-drop-area {
    border: 2px dashed #686E9E;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
}

#drag-and-drop-area.dragover {
    background-color: #686E9E;
    border-color: #ffffff;
}

input[type="file"] {
    margin-top: 10px;
    margin-left: 25px;
    color: white;
}

.js-plotly-plot .plotly .modebar {
    display: none;
}